<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <table class="table">
              <% for song in Song.all %>
                <tr>
                  <td> <%= check_box_tag "playlist[song_ids][]", song.id, @playlist.songs.include?(song) %></td>
                  <td> <%= song.name %></td>
                </tr>
              <% end %>
            </table>
        </div>
      </div>
    </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
