<div class="row">
	<div class="col-md-12">
	  <% @pets.each do |pet| %>
		  <div class="col-md-3">
		  	<div id="thumbnails">
		    <div class="thumbnail">
		      <img src='/img/custom/<%= pet.image_url %>' data-src="holder.js/200x200" alt="...">
		      <div class="caption">
		        <h4><%= pet.name %></h4>
		        <p><span>Age: </span><%= pet.age %></p>
		        <p><span>Adopted: </span><%= pet.adopted %></p>
		        <p><span>Adopted Date: </span> <%= pet.adopted_at %> </p>
		        <p></p>
		      </div>
		    </div>
		    </div>
		  </div>
	  <% end %>

	</div>
	<div class="col-md-12">
	<a href="/shelters/<%= @shelter.id %>" class="btn btn-default">Back to display</a>
	</div>
</div>
